<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Jess Moran</title>
  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
  <link href="../assets/style/style.css" rel="stylesheet">
  <script src="https://kit.fontawesome.com/9e5ac04d15.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css?family=Baloo+Bhaina+2&display=swap" rel="stylesheet">
</head>
<body>
<header>
  <ul class="flex">
    <li class="m-8">
      <a class="text-white hover-text-color-purple text-2xl" href="https://github.com/JessMoran"><i
        class="fab fa-github"></i></a>
    </li>
    <li class="m-8">
      <a class="text-white hover-text-color-purple text-2xl" href="https://www.linkedin.com/in/jess-moran/"><i
        class="fab fa-linkedin"></i></a>
    </li>
    <li class="m-8">
      <a class="text-white hover-text-color-purple text-2xl" href="tel:9803399089"><i class="fas fa-phone"></i></a>
    </li>
    <li class="m-8">
      <a class="text-white hover-text-color-purple text-2xl" href="mailto:jivmjessy@gmail.com"><i
        class="far fa-envelope"></i></a>
    </li>
  </ul>
</header>
<main class="mt-5">
  <div class="grid grid-cols-1 lg:grid-cols-3 lg:gap-4 lg:mt-20 mt-4 mx-auto">
    <div class="max-w-sm rounded overflow-hidden shadow-lg ml-auto my-4">
      <img class="w-full" src="../assets/img/cyclepaths.png" alt="Cyclepaths">
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">
          <a href="https://jessmoran.github.io/cyclepaths/.">Cyclepaths</a>
        </div>
        <p class="text-gray-700 text-base">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis
          eaque, exercitationem praesentium nihil.
        </p>
      </div>
      <div class="px-6 py-4">
        <span
          class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">Ajax</span>
        <span
          class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">jQuery</span>
        <span
          class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700">Tailwind</span>
      </div>
    </div>
    <div class="max-w-sm rounded overflow-hidden shadow-lg mx-auto my-4">
      <img class="w-full" src="../assets/img/zigocapital.png" alt="Zigo Capital">
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">
          <a href="https://develop.zigocapital.com/borrower">Zigo Capital</a>
        </div>
        <p class="text-gray-700 text-base">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis
          eaque, exercitationem praesentium nihil.
        </p>
      </div>
      <div class="px-6 py-4">
        <span
          class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">Vue</span>
        <span
          class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">Laravel</span>
        <span
          class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700">Bootstrap 5</span>
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700">Sass</span>
      </div>
    </div>
    <div class="max-w-sm rounded overflow-hidden shadow-lg mr-auto my-4">
      <img class="w-full" src="../assets/img/javascript-quiz.png" alt="JS quiz">
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">
          <a href="https://jessmoran.github.io/code-quiz/">Java Script Quiz</a>
        </div>
        <p class="text-gray-700 text-base">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis
          eaque, exercitationem praesentium nihil.
        </p>
      </div>
      <div class="px-6 py-4">
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">Java Script</span>
        <span
          class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">Tailwind</span>
      </div>
    </div>
  </div>
  <div class="menu fixed">
    <ul id="menu-rotate" class="flex justify-start items-start m-3 w-1/5 p-5">
      <li
        class="float-left mr-5 hover:text-gray-600 text-lilac text-xl hover:underline cursor-pointer hover:font-bold">
        <a href="../index.html">About</a>
      </li>
      <li
        class="float-left mr-5 hover:text-gray-600 text-lilac text-xl hover:underline cursor-pointer hover:font-bold">
        <a href="portfolios.html">Portfolios</a>
      </li>
      <li
        class="float-left mr-5 hover:text-gray-600 text-lilac text-xl hover:underline cursor-pointer hover:font-bold">
        <a href="contact.html">Contact</a>
      </li>
    </ul>
  </div>
  <div class="grid grid-cols-1 lg:grid-cols-3 lg:gap-4 lg:mt-20 mt-4">
    <div class="max-w-sm rounded overflow-hidden shadow-lg my-4 ml-auto">
      <img class="w-full" src="../assets/img/lunchbox.png" alt="Lunchbox">
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">
          <a href="https://github.com/JessMoran/lunchbox">Lunchbox</a>
        </div>
        <p class="text-gray-700 text-base">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis
          eaque, exercitationem praesentium nihil.
        </p>
      </div>
      <div class="px-6 py-4">
        <span
          class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">React</span>
        <span
          class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">Azure</span>
        <span
          class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700">Bootstrap</span>
      </div>
    </div>
    <div class="max-w-sm rounded overflow-hidden shadow-lg my-4 mx-auto">
      <img class="w-full" src="../assets/img/furniture-connection.png" alt="Furniture connection">
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">
          <a href="https://jessmoran.github.io/furniture-connection/">Furniture Connection</a>
        </div>
        <p class="text-gray-700 text-base">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis
          eaque, exercitationem praesentium nihil.
        </p>
      </div>
      <div class="px-6 py-4">
        <span
          class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">jQuery</span>
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">Walmart API</span>
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700">SPA</span>
      </div>
    </div>
    <div class="max-w-sm rounded overflow-hidden shadow-lg my-4 mr-auto">
      <img class="w-full" src="../assets/img/norns.png" alt="Norns">
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">
          <a href="#">Norns</a>
        </div>
        <p class="text-gray-700 text-base">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis
          eaque, exercitationem praesentium nihil.
        </p>
      </div>
      <div class="px-6 py-4">
        <span
          class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">Sketch</span>
        <span
          class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">UI</span>
      </div>
    </div>
  </div>
  <div class="grid grid-cols-1 lg:grid-cols-3 lg:gap-4 lg:mt-20 mt-4">
    <div class="max-w-sm rounded overflow-hidden shadow-lg ml-auto my-4">
      <img class="w-full" src="../assets/img/weather.png" alt="Weather Dashboard">
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">
          <a href="https://jessmoran.github.io/weather-dashboard/">Weather Dashboard</a>
        </div>
        <p class="text-gray-700 text-base">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis
          eaque, exercitationem praesentium nihil.
        </p>
      </div>
      <div class="px-6 py-4">
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">jQuery</span>
        <span
          class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">Tailwind</span>
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700">Ajax Request</span>
      </div>
    </div>
  </div>
</main>
</body>
</html>
