<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Jess Moran</title>
  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
  <link href="../assets/style/style.css" rel="stylesheet">
  <script src="https://kit.fontawesome.com/9e5ac04d15.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css?family=Baloo+Bhaina+2&display=swap" rel="stylesheet">
</head>
<body>
<header>
  <ul class="flex">
    <li class="m-8">
      <a class="text-white hover-text-color-purple text-2xl" href="https://github.com/JessMoran"><i
        class="fab fa-github"></i></a>
    </li>
    <li class="m-8">
      <a class="text-white hover-text-color-purple text-2xl" href="https://www.linkedin.com/in/jess-moran/"><i
        class="fab fa-linkedin"></i></a>
    </li>
    <li class="m-8">
      <a class="text-white hover-text-color-purple text-2xl" href="tel:9803399089"><i class="fas fa-phone"></i></a>
    </li>
    <li class="m-8">
      <a class="text-white hover-text-color-purple text-2xl" href="mailto:jivmjessy@gmail.com"><i
        class="far fa-envelope"></i></a>
    </li>
  </ul>
</header>
<main class="mt-5">
  <div class="grid grid-cols-1 lg:grid-cols-3 lg:gap-4 lg:mt-20 mt-4 mx-auto">
    <div class="max-w-sm rounded overflow-hidden shadow-lg ml-auto my-4">
      <img class="w-full" src="../assets/img/cyclepaths.png" alt="Cyclepaths">
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">
          <a href="https://jessmoran.github.io/cyclepaths/.">Cyclepaths<span class="text-gray-500 ml-3 text-sm">Live</span></a>
        </div>
        <p class="text-gray-700 text-base">
          Responsive Webpage application for cyclists, in which you can search different cycling social groups and events that they share.
          You can search many different types of incidents in the area and share them on Facebook.
          You can also see your local weather in preparing for your ride.
        </p>
      </div>
      <div class="mx-3">
        <a href="https://github.com/JessMoran/cyclepaths">
          <i class="fas fa-code px-3 py-1 text-sm font-semibold text-lilic"></i>
          <span class="text-lilic">Repo</span>
        </a>
      </div>
      <div class="px-6 py-4">
        <span
          class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">Ajax</span>
        <span
          class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">jQuery</span>
        <span
          class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700">Tailwind</span>
      </div>
    </div>
    <div class="max-w-sm rounded overflow-hidden shadow-lg mx-auto my-4">
      <img class="w-full" src="../assets/img/zigocapital.png" alt="Zigo Capital">
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">
          <a href="https://develop.zigocapital.com/borrower">Zigo Capital<span class="text-gray-500 ml-3 text-sm">Live</span></a>
        </div>
        <p class="text-gray-700 text-base">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis
          eaque, exercitationem praesentium nihil.
        </p>
      </div>
      <div class="mx-3">
        <a href="https://github.com/zigocapital/zigocapital/tree/develop">
          <i class="fas fa-code px-3 py-1 text-sm font-semibold text-lilic"></i>
          <span class="text-lilic">Repo</span>
        </a>
      </div>
      <div class="px-6 py-4">
        <span
          class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">Vue</span>
        <span
          class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">Laravel</span>
        <span
          class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700">Bootstrap 5</span>
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700">Sass</span>
      </div>
    </div>
    <div class="max-w-sm rounded overflow-hidden shadow-lg mr-auto my-4">
      <img class="w-full" src="../assets/img/yummy-burger.png" alt="yummy-burger">
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">
          <a href="#">Yummy Burger<span class="text-gray-500 ml-3 text-sm">Live</span></a>
        </div>
        <p class="text-gray-700 text-base">
          Restaurant app that lets users input the names of burgers they'd like to eat.
          Whenever a user submits a burger's name, it will display the burger on the top side of the page, waiting to be devoured.
        </p>
      </div>
      <div class="mx-3">
        <a href="https://github.com/JessMoran/yummy-burger-2.0">
          <i class="fas fa-code px-3 py-1 text-sm font-semibold text-lilic"></i>
          <span class="text-lilic">Repo</span>
        </a>
      </div>
      <div class="px-6 py-4">
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">Express</span>
        <span
          class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">Handlebars</span>
        <span
          class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">My SQL</span>
      </div>
    </div>
  </div>
  <div class="menu fixed">
    <ul id="menu-rotate" class="flex w-1/5 mt-1">
      <li
        class="float-left mr-5 hover:text-gray-600 text-lilic text-xl hover:underline cursor-pointer hover:font-bold">
        <a href="../index.html">About</a>
      </li>
      <li
        class="float-left mr-5 hover:text-gray-600 text-lilic text-xl hover:underline cursor-pointer hover:font-bold">
        <a href="portfolios.html">Portfolios</a>
      </li>
      <li
        class="float-left mr-5 hover:text-gray-600 text-lilic text-xl hover:underline cursor-pointer hover:font-bold">
        <a href="contact.html">Contact</a>
      </li>
    </ul>
  </div>
  <div class="grid grid-cols-1 lg:grid-cols-3 lg:gap-4 lg:mt-20 mt-4">
    <div class="max-w-sm rounded overflow-hidden shadow-lg ml-auto my-4">
      <img class="w-full" src="../assets/img/employee-summary.png" alt="Weather Dashboard">
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">
          <a href="https://www.youtube.com/watch?v=xSgF4szKcL0&feature=youtu.be">Employee Summary<span class="text-gray-500 ml-3 text-sm">Live</span></a>
        </div>
        <p class="text-gray-700 text-base">
          The application will prompt the user for information about the team manager and then information about the team members. The user can input any number of team members, and they may be a mix of engineers and interns.</p>
      </div>
      <div class="mx-3">
        <a href="https://github.com/JessMoran/employee-summary">
          <i class="fas fa-code px-3 py-1 text-sm font-semibold text-lilic"></i>
          <span class="text-lilic">Repo</span>
        </a>
      </div>
      <div class="px-6 py-4">
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">Node Js</span>
        <span
          class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">Tailwind</span>
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700">Jest</span>
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700">Inquirer</span>
      </div>
    </div>
    <div class="max-w-sm rounded overflow-hidden shadow-lg mx-auto my-4">
      <img class="w-full" src="../assets/img/furniture-connection.png" alt="Furniture connection">
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">
          <a href="https://jessmoran.github.io/furniture-connection/">Furniture Connection<span class="text-gray-500 ml-3 text-sm">Live</span></a>
        </div>
        <p class="text-gray-700 text-base">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis
          eaque, exercitationem praesentium nihil.
        </p>
      </div>
      <div class="mx-3">
        <a href="https://github.com/JessMoran/furniture-connection">
          <i class="fas fa-code px-3 py-1 text-sm font-semibold text-lilic"></i>
          <span class="text-lilic">Repo</span>
        </a>
      </div>
      <div class="px-6 py-4">
        <span
          class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">jQuery</span>
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">Walmart API</span>
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700">SPA</span>
      </div>
    </div>
    <div class="max-w-sm rounded overflow-hidden shadow-lg mr-auto my-4">
      <img class="w-full" src="../assets/img/javascript-quiz.png" alt="JS quiz">
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">
          <a href="https://jessmoran.github.io/code-quiz/">Java Script Quiz<span class="text-gray-500 ml-3 text-sm">Live</span></a>
        </div>
        <p class="text-gray-700 text-base">
          Java Script timed code quiz, which has a combination of multiple-choice questions and interactive challenges. You can also save your score and see the Highscores results.
        </p>
      </div>
      <div class="mx-3">
        <a href="https://github.com/JessMoran/code-quiz">
          <i class="fas fa-code px-3 py-1 text-sm font-semibold text-lilic"></i>
          <span class="text-lilic">Repo</span>
        </a>
      </div>
      <div class="px-6 py-4">
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">Java Script</span>
        <span
          class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">Tailwind</span>
      </div>
    </div>
  </div>
  <div class="grid grid-cols-1 lg:grid-cols-3 lg:gap-4 lg:mt-20 mt-4">
    <div class="max-w-sm rounded overflow-hidden shadow-lg ml-auto my-4">
      <img class="w-full" src="../assets/img/weather.png" alt="Weather Dashboard">
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">
          <a href="https://jessmoran.github.io/weather-dashboard/">Weather Dashboard<span class="text-gray-500 ml-3 text-sm">Live</span></a>
        </div>
        <p class="text-gray-700 text-base">
          Weather Dashboard in which you can see the current weather (temperature, humidity, wind speed, UV index) and the next 5 day forecast.
        </p>
      </div>
      <div class="mx-3">
        <a href="https://github.com/JessMoran/weather-dashboard">
          <i class="fas fa-code px-3 py-1 text-sm font-semibold text-lilic"></i>
          <span class="text-lilic">Repo</span>
        </a>
      </div>
      <div class="px-6 py-4">
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">jQuery</span>
        <span
          class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">Tailwind</span>
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700">Ajax Request</span>
      </div>
    </div>
    <div class="max-w-sm rounded overflow-hidden shadow-lg mx-auto my-4">
      <img class="w-full" src="../assets/img/lunchbox.png" alt="Lunchbox">
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">
          <a href="https://lunchboxlaboratoria.azurewebsites.net/">Lunchbox<span class="text-gray-500 ml-3 text-sm">Live</span></a>
        </div>
        <p class="text-gray-700 text-base">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis
          eaque, exercitationem praesentium nihil.
        </p>
      </div>
      <div class="mx-3">
        <a href="https://github.com/JessMoran/lunchbox">
          <i class="fas fa-code px-3 py-1 text-sm font-semibold text-lilic"></i>
          <span class="text-lilic">Repo</span>
        </a>
      </div>
      <div class="px-6 py-4">
        <span
          class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">React</span>
        <span
          class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">Azure Websites</span>
        <span
          class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700">Bootstrap</span>
      </div>
    </div>
    <div class="max-w-sm rounded overflow-hidden shadow-lg mr-auto my-4">
      <img class="w-full" src="../assets/img/norns.png" alt="Norns">
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">
          <a href="#">Norns</a>
        </div>
        <p class="text-gray-700 text-base">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis
          eaque, exercitationem praesentium nihil.
        </p>
      </div>
      <div class="px-6 py-4">
        <span
          class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">Sketch</span>
        <span
          class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">UI</span>
      </div>
    </div>
  </div>
</main>
</body>
</html>
