body {
  font-family: 'Baloo Bhaina 2', cursive;
}

header {
  position: relative;
  height: 100px;
  background-image: linear-gradient(to right,#CCABD8, #8474A1 );
  border-bottom-right-radius: 45% 140%;
  width: 400px;
}

#menu-rotate {
  transform: rotateZ(-0.25turn);
}

.text-lilic {
  color: #CCABD8;
}

.bg-lilic {
 background: #CCABD8;
}

.bg-lilic:hover {
  background: #8474A1;
}
